body {
	font-family: 'Lato', sans-serif;
	color: #385E38;
}

img {
	border-radius: 6px;
	cursor: pointer;
}
.text-muted {
	color: #bcbbbb;
	padding-left: 10px;
}
.text-thin {
	font-weight: 100;
}
.text-medium {
	font-weight: 300;
}

.title-super {
	font-size: 4.925rem;
	color: #000;
}
.title-logo {
	margin-top: 20px;
}

hr {
	border-top: 2px solid #385e38;
}

.modal-body {
	font-size: 2.125rem;
	text-align: center;
}

.modal-body img {
	margin-bottom: 10px;
}

.modal-title {
	text-transform: uppercase;
	text-align: center;
	font-size: 2.925rem;
	font-weight: 300;
}

.col-md-4 h3 {
	text-transform: uppercase;
}

.col-md-4 img {
	margin: 0 auto;
}

h4 {
	font-family: 'Special Elite', cursive;
}

@media (min-width: 600px) {

		.title {
			width: 80%;
			float: left;
		}

		.logo {
			width: 20%;
			float: left;
		}
}

@media (max-width: 600px) {

		h1 {
			margin-top: 2px;
		}

		.col-md-6 {
			text-align: right;
		}

		.title-logo {
			margin-right: 60px;
		}
}

